{% extends 'base.html' %}
{% block title %}
    closed-order | {{setting.nameSite}}
{% endblock title %}
{% load static %}

{% block content %}

      <!-- Begin Main Content Area -->
    <main class="main-content">
        <div class="breadcrumb-area breadcrumb-height" data-bg-image="{% static 'images/breadcrumb/bg/1-1-1919x388.jpg' %}">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-lg-12">
                        <div class="breadcrumb-item">
                            <h2 class="breadcrumb-heading">Contact</h2>
                            <ul>
                                <li>
                                    <a href="{% url 'home:homeIndex' %}">Acceuil</a>
                                </li>
                                <li>Nous contacter</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form-area section-space-y-axis-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact-wrap">
                            <h4>Nous vous remercions de votre commande !</h4>
                            <p>
                                Votre commande a été passée et sera traitée dans les plus brefs délais.
                                Votre numéro de commande est : <strong>{{orderNber}}</strong>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Main Content Area End Here -->






{% endblock content %}